@charset "UT-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: Android;
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}


:root {
--cor0: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #2fa866;
--cor4: #1a5c37;
--cor5: #064d1e;

--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue', cursive;
--fonte-andriod: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.external::after {
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

header > h2 {
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px, 7px, 9px, rgba(0, 0, 0, 0.507);
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5)
}

main {

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-andriod);
    font-weight: normal;
}

main  h2 {
    font-family: var(--fonte-andriod);
    font-weight: normal;
    font-size: 1.3em;
    text-indent: 5px;
    color: var(--cor3);
    
}

p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a { 
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor1);
    border-radius: 5px;
    padding: 4px;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    /*background-color: var(--cor4);*/
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;

    position: relative;
}

div.video > iframe {
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.61);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0'; /*Isso não é compatível com todos os navegadores...*/
    list-style-position: inside;
    columns: 2;
}

aside a {
    color: var(--cor5);
    font-weight: bold;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

footer { 
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8;
    padding: 5px;  
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline;
    background-color: var(--cor1);
    color: var(--cor5);
    padding: 5px;
    border-radius: 5px;
}